Source: ros-hydro-librms
Section: misc
Priority: extra
Maintainer: Russell Toris <rctoris@wpi.edu>
Build-Depends: debhelper (>= 9.0.0), libmysqlclient-dev, ros-hydro-catkin
Homepage: http://ros.org/wiki/librms
Standards-Version: 3.9.2

Package: ros-hydro-librms
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmysqlclient-dev
Description: RMS Data Log Client Library
